<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../HOFStyle.css" type="text/css">
  <title>WorDominoes - Hall Of Fame</title>
</head>
<body>

  <%
let sortArray = []
let newestScore = 0
//to populate minimum score in HoF to see if newest score eligioble for HoF
let minimum = 0
//number of records in the HoF
let numRec = 20
//array of IDs to be deleted
let DBdel = []
//to find minimum score
let numbers =[]
console.log("socres", scores)
console.log("scores length", scores.length)
 //populate array with names, scores and ids from scores array with objects
for(let i = 0; i < scores.length; i++) { 
  if(parseInt(scores[i].score)){
    console.log("score lname", JSON.stringify(scores[i].lname))
  sortArray.push([JSON.stringify(scores[i].lname), parseInt(scores[i].score), scores[i].id]); 
  numbers.push(parseInt(scores[i].score));
}}
console.log("sortArray", sortArray)
//get minimum score for comparison with newest score to see if qualifies for HoF
  //define minimum value so that on the game it can be determined if the user has made it into the hall of fame
 if(sortArray.length<numRec) {minimum = Math.min(...numbers, 0)}
 else{
  minimum=Math.min(...numbers);
 }
 console.log("numbers", numbers)
 console.log("min numbers", Math.min(...numbers))
 console.log("minimum", minimum)

   newestScore = sortArray[sortArray.length-1][1]

  //get rid of last element in sortArray for each record
  for(i=0; i< sortArray.length; i++){
    sortArray[i].pop();
  }
  console.log("sortarray after get rid of last element in record", sortArray)
  //sort sortArray by score
  sortArray.sort((a, b) => b[1] - a[1]);
  console.log("sorted Sortarray", sortArray)

  // //Remove excess records(too low) form the sortArray so they can be deleted from the database
  // let DBDelArray = sortArray.splice(numRec, sortArray.length-numRec)
  // let DBDel = []
  // //populate array with data of users with scores too low for the HoF
  // for(i=0; i< DBDelArray.length; i++){
  //   DBDel.push(JSON.stringify(DBDelArray[i][DBDelArray[i].length-1]))
  // } 

  %>
<div class="gridContainer">
  <h1 class="HOFTitle">Hall of Fame</h1>
  <div class="scoreContainer">
    <br>
    <br>
    <h2 class='rank-name'>Rank</h2>
    <h2 class='heading-name'>Name</h2>
    <h2 class="heading-score">Score</h2>
    <br>
    <!-- create html table with cells for rank, name, score -->
    <% for (let i = 1; i <= numRec; i++) { %>
      <div class='rank rank<%- i %>'><%- i %></div>
      <div class='name<%- i %> name'>-</div>
      <span class="score score<%- i %>">-</span>
    <% } %>
  </div>
</div>
  <script>
    //assign variables on the servrer side to the client side
    var sortArray = [<%- sortArray %>];

    var minimum= <%- minimum %>;
    
    var numRec = <%- numRec %>;
// //delete items from database if score too low to be displayed in teh hall of fame
//     for (i = 0; i < DBDel.length; i++) {
//       let id = DBDel[i]
//       fetch(`http://localhost:3000/scores/${id}`, {
//           method: "delete",
//           headers: {
//             "Content-Type": "application/json",
//           },
//         })
//         .then((data) => data.json())
//         .then((scores) => console.log(scores));
//     }
    //js classes for names and scores
    let names = [".name1", ".name2", ".name3", ".name4", ".name5", ".name6", ".name7", ".name8", ".name9", ".name10", ".name11", ".name12", ".name13", ".name14", ".name15", ".name16", ".name17", ".name18", ".name19", ".name20"]
    let scores = [".score1", ".score2", ".score3", ".score4", ".score5", ".score6", ".score7", ".score8", ".score9", ".score10", ".score11", ".score12", ".score13", ".score14", ".score15", ".score16", ".score17", ".score18", ".score19", ".score20"]
    let numTemp = [];
    let nameTemp = [];
    //separate elements in the sortArray into two separate arrays before they are updated into the HTML elements
    for (var i = 0; i < sortArray.length; i++) {
      console.log("Sortarray[i]", sortArray[i])
      if (typeof sortArray[i] === "number") {
        numTemp.push(sortArray[i])
      }
      else if (typeof sortArray[i] == "string") {
        nameTemp.push(sortArray[i])
      }
    }
//populate scores and names from the sortArray into the HTML elements to be displayed on the page. 
    for (var i = 0; i < numTemp.length; i++) {
      document.querySelector(scores[i]).innerHTML = numTemp[i];
      document.querySelector(names[i]).innerHTML = nameTemp[i];
    }
  </script>
  <br>
  <br>
  <!-- Link to return to the game -->
  <p class="return"><a class="game" href= />Go Back to Game</a></p>
  <br />
  <br />
  </div>
  <script>
    //pass minimum score in hall of fame to game page so that message appears if the user has made it into the HoF
    var n = <%-JSON.stringify(minimum)%>
    console.log("n", n)
    localStorage.setItem("minimum", JSON.stringify(n));
    var m = <%-JSON.stringify(newestScore)%>
    localStorage.setItem("newestScore", JSON.stringify(m));

  </script>
  <script src="../control.js"></script>
</body>
</html>